@{
    ViewData["Title"] = "Flights";
    Layout = "_Layout";
}

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="js/Moment.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <hr/>

    <form method="get" action="" onsubmit="GetFlightSearch(); return false">
        <h3>Search</h3>
        <label>Departure Airport</label>
        <input id="txtDepartureAirport" type="text" name="departureAirport"/>
        <br>
        <label>Arrival Airport</label>
        <input id="txtArrivalAirport" type="text" name="arrivalAirport"/>
        <br>
        <label>Time</label>
        <input id="departureTime" type="number" name="departureTime"/>
        <br>
        <br>
        <input type="submit" value="submit"/>
    </form>
    <br/>
    <button onclick="GetFlights_EDDF()">GetFlights_EDDF</button>
    <br/>

    <h3>Results</h3>
    <table id="tblFlights" class="table">
        <thead>
        <tr>
            <th>Airplane ICAO24</th>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="js/Index.js"></script>
<script type="text/javascript">

$(document).ready(function(){
});
                
function GetFlightSearch(){
    const myForm = document.forms[0];
    const departure = myForm.elements["departureAirport"].value;
    const destination = myForm.elements["arrivalAirport"].value;
    const departureTime = myForm.elements["departureTime"].value;
    console.log("dep : " + departure + "");
    
    $.getJSON(
        "/flight/GetFlights?departure=" + departure + "&destination=" + destination + "&departureTime=" + departureTime,
        function(flights){
            console.log(flights)
            $("#tblFlights tbody tr").remove();
            $.map(flights, function(flight){
                
                let departureTime = EpochToDate(flight.firstSeen);
                let arrivalTime = EpochToDate(flight.lastSeen);                
                
                $("#tblFlights tbody").append("<tr>"
                    + "<td>" + flight.icao24 + "</td>"
                    + "<td>" + flight.estDepartureAirport + "</td>"
                    + "<td>" + flight.estArrivalAirport + "</td>"
                    + "<td>" + departureTime + "</td>"
                    + "<td>" + arrivalTime + "</td>"
                    + "</tr>"
                )
        });
    })
}
    
function EpochToDate(epochTime) {
    let date = new Date(epochTime*1000);
    let dateString = moment(date).format('YYYY-MM-DD HH:MM');
    date.toLocaleString('en-US');
    console.log("time: " + dateString);
    return dateString;
}

function GetFlights_EDDF(){
    $.getJSON("/flight/GetFlights_EDDF",function(flights){
        console.log(flights)
        $("#tblFlights tbody tr").remove();
        $.map(flights, function(flight){
            $("#tblFlights tbody").append("<tr>"
                + "<td>" + flight.icao24 + "</td>"
                + "<td>" + flight.estDepartureAirport + "</td>"
                + "<td>" + flight.estArrivalAirport + "</td>"
                + "</tr>"
            )
        });
    })
}
</script>